p {
  font-family: Lato;
}
.maindiv{
  border: 1px solid ;
  display:flex ;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header{
  background-color: cornflowerblue;
  margin: auto;
  padding: 20px;
  color:#FFF
}
